//* ==== COLOR VARIABLES ==== */
$black-solid: black;
$cod-gray: #2e2e2e;
$mine-shaft: #333333;
$outer-space: #323b40;
$regent-gray: #85989b;
$oslo-grey: #868f97;
$grey-chateau: #96a2ac;
$aluminium: #a7adba;
$submarine: #b7bfc6;
$alto: #dadada;
$mystic: #d8dee9;
$mercury: #e3e3e3;
$aqua-haze: #ebf1f4;
$white-solid: #ffffff;
$athens-gray: #f7f8fa;
$blue-gray: #6699cc;
$pacific-blue: #0298cc;
$red-solid: #ff0000;
$pink: pink;

//* ==== UI VARIABLES ==== */
// $bg-dimmer: rgba(17, 18, 19, .7);
/*==== Unnamed Group 1 ====*/
$bg-dimmer: rgba( $black-solid, .7);
$bg-image-header: url('../gfx/pg_blog_header.jpg');

//* === CUSTOMIZATION === */
/*==== Unnamed Group 2 ====*/
$color-main: $mine-shaft;
$bg-main: $athens-gray;