@import "colors";
@import "fonts";
// @import "misc";

// CORE STUFF

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

html
{
    font-size: 95%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

// 768px

@media (min-width:48.063em)
{
    html
    {
        font-size: 100%;
    }
}

body
{
    font-size: 1em;
    line-height: 1.6;
    margin: 0;
    overflow-x: hidden;
    background: $bg-main;
    color: $color-main;
    font-family: $font-main-serif;
}

p
{
    font-size: 120%;
    margin-bottom: 1.2em !important;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

img
{
    height: auto;
    max-width: 100%;
}

img:hover
{
}

h1,h2,h3,h4,h5,h6
{
    margin-top: 1.5em;
    font-family: $font-main-sans-serif;
}

h1,
h2,
strong
{
    color: darken( $color-main, 10% );
}

h1
{
    font-size: 270%;
}

h2
{
    font-size: 175%;
    line-height: 1.04 !important;
}

h3
{
    font-size: 140%;
    line-height: 1.2 !important;
}

h4
{
    font-size: 130%;
}

h5
{
    font-size: 90%;
}

h6
{
    font-size: 50%;
}

code,
pre
{
    background: $athens-gray;
    border-bottom: 1px solid $mystic;
    color: $aluminium;
}

code
{
    padding: 0.125em 0.250em;
    vertical-align: text-bottom;
}

pre
{
    padding: 1em;
    border-left: 2px solid $blue-gray;
}

a
{
    color: $pacific-blue;
    text-decoration: none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

blockquote
{
    border-left: 3px solid $mercury;
    padding-left: 0.938em;
    color: $mine-shaft;
}

blockquote strong
{
    color: $cod-gray;
}

quote
{
}

ul, ol
{
    margin-left: 0 !important;
    padding-left: 20px !important;
}

// END OF CORE STUFF

.site-inner
{
    position: relative;
    top: -3.750em;
    margin: 0 auto 30px;
    max-width: 55em;
}

// SITE HEADER STUFF

.dimmer
{
    background-color: $bg-dimmer;
    padding: 6vw 2em 11vw;
    margin-bottom: 0;
}

.site-header
{
    background-color: $outer-space;
    background-image: $bg-image-header;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    text-align: center;
    max-width: none;
    margin-bottom: 0;
}

img.custom-logo
{
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
    border-radius: 50%;
    border: none !important;
}

.site-header h1
{
    color: $white-solid;
    font-size: 270%;
    font-weight: 700;
    text-align: center;
    line-height: 1.1em;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
    padding: 0;
    display: inline-block;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 0.3em;
    font-family: $font-main-sans-serif;
}

.site-header-title
{
    margin: 0 auto;
    max-width: 70%;
    display: block;
}

.site-header-logo
{
    display: inline-block;
}

.site-description
{
    display: inline-block;
}

.site-description h2
{
    color: $regent-gray;
    margin-top: 0;
    padding-top: 0;
    font-weight: normal;
}

.site-description p
{
    color: $regent-gray;
    font-size: 150%;
    margin-top: 0;
    font-family: $font-main-sans-serif;
}

.author-avatar
{
    width: 96px;
    border-radius: 50%;
    border: 3px solid $athens-gray;
}

/*.author-avatar .avatar
{
}*/

.avatar
{
    width: 96px;
    border-radius: 50%;
    border: 3px solid $athens-gray;
}

.post-categories
{
    list-style-type: none;
}

ul.post-categories
{
    margin: 0;
    padding-left: 0 !important;
}

.site-header-title a
{
    color: $regent-gray;
}

.site-header-meta
{
    color: $regent-gray;
    margin-bottom: 10px;
    display: block;
    font-family: $font-main-sans-serif;
}

// END OF SITE HEADER STUFF


// LINKS AND BUTTONS STUFF

.small-button
{
    font-family: $font-main-sans-serif;
    font-size: 60%;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
    border-radius: 290486px;
    display: inline-block;
}

.big-button
{
    font-family: $font-main-sans-serif;
    font-size: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 290486px;
    display: inline-block;
    text-align: center;
}

// button,
// input[type="button"],
// input[type="reset"],
// input[type="submit"] {
//     font-size: 100%;
//     letter-spacing: 0.2em;
//     text-transform: uppercase;
//     text-decoration: none;
//     transition: none 200ms ease-out;
//     transition-property: color, background;
//     padding-top: 10px;
//     padding-right: 20px;
//     padding-bottom: 10px;
//     padding-left: 20px;
//     border-radius: 290486px;
//     display: inline-block;
//     text-align: center;
//     border: 1px solid $outer-space;
//     background: $outer-space;
//     color: $white-solid;
// }
//
// button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover
// {
//   border: 1px solid $pacific-blue;
//   background: $pacific-blue;
//   color: $white-solid;
// }

.site-header-link
{
    border: 1px solid $white-solid;
    color: $white-solid;
}

.site-header-link:hover
{
    background: $pacific-blue;
    border: 1px solid $pacific-blue;
}

.article-read-more-link
{
    border: 1px solid $outer-space;
    background: $outer-space;
    color: $white-solid;
}

.article-read-more-link:hover
{
    border: 1px solid $pacific-blue;
    background: $pacific-blue;
    color: $white-solid;
}

.post-navigation-link
{
    color: $mine-shaft;
    background: $white-solid;
    border: 1px solid $outer-space;
}

.post-navigation-link:hover
{
    background: $pacific-blue;
    border: 1px solid $pacific-blue;
    color: $white-solid;
}

.left
{
    float: left;
    margin-bottom: 0.625em;
}

.right
{
    float: right;
    margin-bottom: 0.625em;
}

// END OF LINKS AND BUTTONS STUFF

// FOOTER STUFF

.site-footer
{
    position: relative;
    bottom: 35px;
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.footer
{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}

.entry-footer
{
    max-width: 55em;
    margin: 0 auto;
    padding: 0 0em;
}

.footer-headings
{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    font-size: 140%;
    line-height: 1.2em;
}

.footer-paragraph
{
    margin-top: 0.313em;
    font-size: 80%;
    font-family: $font-main-sans-serif;
}

// END OF FOOTER STUFF

// ARTICLE STUFF

.article
{
    margin: 0 auto 30px;
    background: $white-solid;
    -webkit-transition: bottom 2s;
    transition: bottom 2s;
    border-bottom: 1px solid  $athens-gray;
    border-right: 1px solid  $athens-gray;
    border-top: 1px solid  $athens-gray;
    border-left: 1px solid  $athens-gray;
    border-radius: 0px;
    box-shadow: 0 10px 6px -9px $alto;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
}

// END OF ARTICLE STUFF

// ENTRY STUFF

.entry-author
{
    color: $grey-chateau;
    display: inline-block;
    font-family: $font-main-sans-serif;
}

a .entry-author
{
    border-bottom: 1px dotted $grey-chateau;
    text-decoration: none;
    color: $oslo-grey;
    font-weight: 400;
}

.entry-hr
{
    margin-top: 1em;
    margin-bottom: 1em;
    border-style: solid;
    border-width: 1px;
    border-top: 2px solid $aqua-haze;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.entry-header h2
{
    font-size: 175%;
    line-height: 1.2em;
    margin-top: 0px;
    margin-bottom: 10px;
}

.entry-content
{
    margin-top: 2em !important;
    margin-bottom: 2em !important;
    padding-bottom: 20px;
}

.entry-content p
{
    margin-top: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.entry-excerpt
{
    margin-bottom: 0 !important;
}

.entry-excerpt p
{
    margin-bottom: 0 !important;
}

// END OF ENTRY STUFF

// MISC STUFF

.lead
{
    margin-top: 0;
}

.lead p
{
    margin-top: 0.5em !important;
    margin-bottom: 0 !important;
    font-size: 140%;
    font-weight: 300;
    line-height: 1.4;
    color: black;
    font-family: $font-main-sans-serif;
}

// .article-read-more
// {
//     text-align: center;
// }

.post-navigation
{
    margin-top: 3em;
}

.float-cleaner
{
    clear: both;
}

.index-navigation
{
    margin: 15px auto 10px;
    text-align: center;
}

// META STUFF

.entry-header
{
}

.site-content
{
}

.entry-meta
{
}

.comments
{
    margin-top: 20px;
    margin-bottom: 20px;
}

// TRICKS

.blog-divider
{
    display: block;
    height: 1px;
    margin: 30px auto;
    width: 60%;
    background: $athens-gray;
}

img.desaturate {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

// MEDIA QUERIES

@media (max-width:895px)
{
    // body
    // {
    //   background: $white-solid;
    // }
    .site-inner
    {
        position: static;
    }
    .site-footer
    {
        position: static;
        bottom: 0;
    }
    .article
    {
        margin-bottom: 0;
        margin-top: 0;
        border-top: none;
        border-bottom: solid 1px $athens-gray;
        border-radius: 0;
        box-shadow: none;
    }
    .site-header
    {
        margin-bottom: 0;
    }
    .site-header-title
    {
        max-width: 100%;
    }
}

@media (max-width:768px)
{
    img.custom-logo
    {
        width: 96px;
        height: 96px;
    }
// p
//     {
//       font-size: 125%;
//     }
}

@media (max-width:568px)
{
    .big-button
    {
        display: block;
    }
    .left
    {
        float: none;
    }
    .right
    {
        float: none;
    }
    .lead
    {
        line-height: 1.35;
    }
}

@media (max-width:480px)
{
    .article
    {
        padding: 2em 1.5em 3.0em;
        margin-top: 0;
    }
}

@media (max-width:320px)
{
    .site-header h1
    {
        font-size: 200%;
    }
    .article
    {
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 0;
    }
    img.custom-logo
    {
        width: 66px;
        height: 66px;
    }
}

/* TRASH CAN */

.social-sharing
{
    text-align: center;
    font-family: $font-main-sans-serif;
    display: block;
    padding-bottom: 30px;
    border: 1px solid $athens-gray;
    margin: 0 auto 50px;
    max-width: 27em;
}

.share-title
{
    font-family: $font-main-sans-serif;
    font-size: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: inline-block;
    text-align: center;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    // border-bottom: 1px dotted $submarine;
}

.menu
{
    width: 320px;
    z-index: 999999999999;
    position: fixed;
    background-color: $red-solid;
    height: 100%;
}
